<% provide(:title, 'Home') %>
<title> TODO | <%= yield(:title) %> </title>

<% if signed_in? %>
<div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/todolist_form' %>
      </section>
      <% if current_user.todolists.any? %>
      <section>
        <%= render 'shared/task_form' %>
      </section>
      <% end %>
    </aside>
    <div class="span8">
      <h3>Your Tasks</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
<div class="center hero-unit">
  <h1>Welcome to the todo app</h1>

  <h2>
    This the home page for a rails application to manage todo lists of users.
  </h2>
   <%= image_tag("todoimg.jpg", alt: "Todo", :align=> "center" )  %>

  <%= link_to "Sign up now!", new_user_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>
<script type="text/javascript">
  jQuery(document).on("change", ".task_checkbox_class", function(){
    var taskId = jQuery(this).attr('value');    
    jQuery.post("/tasks/complete", {task_id: taskId});    
  });
</script>
