<li>
	<% if task.completed %>
		<span class="content"> <strike> ✓ <%= task.content %> </strike> </span>
	<% else %>
    <% if task.completeby >= Date.today %>
		<span class="content"><font color ="green"><%= task.content %> : <%= task.completeby %> </font> </span>
    <% else %>
    <span class="content"><font color ="red"><%= task.content %> : <%= task.completeby %> </font> </span>
  <% end %> 	
  <% end %>
    <span class="timestamp">
        Posted <%= time_ago_in_words(task.created_at) %> ago.
  	</span>
  	<% if current_user?(task.user) %>
    	<%= link_to "delete", task, method: :delete,
                                     data: { confirm: "Are you sure?" },
                                     title: task.content %>
  	<% end %>
</li>
