<% provide(:title, "Update Password") %>
<title> TODO | <%= yield(:title) %> </title>
<h1>Update your Password </h1>
<div class="row">
  	<div class="span6 offset3">
    	<%= form_for(@user) do |f| %>
      	<%= render 'shared/error_messages', object: f.object %>

      	<%= f.label :password %>
      	<%= f.password_field :password %>

      	<%= f.label :password_confirmation, "Confirm Password" %>
      	<%= f.password_field :password_confirmation %>

      	<%= f.submit "Save Password", class: "btn btn-large btn-primary" %>
    	<% end %>
  	</div>
</div>
