<% provide(:title, 'All users') %>
<title> TODO | <%= yield(:title) %> </title>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user %>
      <%= link_to user.name, user %>
      <% if user.todolists.any? %>
       <p> (<%= user.todolists.count %>) Todolists </p>
      <% else %>
        <p> 0 Todolists </p>
      <% end %>
      <% if user.tasks.any? %>
       <p> (<%= user.tasks.count %>) Tasks </p>
      <% else %>
        <p> 0 Tasks </p>
      <% end %>
    </li>
  <% end %>
</ul>