
<title> TODO | <%= @user.name %> </title> 
<div class="row">
  <aside class="span4">
    <section>
      <h1> Hello,
        <%=  @user.name %> !
        <%= gravatar_for @user %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.tasks.any? %>
      <h3>Your Tasks (<%= @user.tasks.count %>)</h3>
      <ol class="tasks">
        <%= render @tasks %>
      </ol>
      <%= will_paginate @tasks %>
    <% end %>
  </div>
</div>

