
<title> TODO | <%= @user.name %> </title> 
<div class="row">
  <aside class="span8">
    <section>
      <% if current_user?(@user) %>
      <h1> Hello, 
        <%=  @user.name %> !
        <%= gravatar_for @user %>
      </h1>
      <% else %>
      <h1> User: 
        <%=  @user.name %> 
        <%= gravatar_for @user %>
      </h1>
      <% end %>
      <h5> <%= @user.email %> </h5>
    </section>
  </aside>
</div>
<div class="row">
  <% if @user.todolists.any? %>
    <% if current_user?(@user) %>
        <h3>Your Todolists and Tasks </h3>
      <% else %>
        <h3> <%= @user.name %>'s Todo lists and Tasks </h3>
      <% end %>
    <ol class="todolists">
        <%= render @todolists %>
    </ol>
    <% end %>
  </div>