
<title> TODO | <%= @user.name %> </title> 
<div class="row">
  <aside class="span4">
    <section>
      <% if current_user?(@user) %>
      <h1> Hello, 
        <%=  @user.name %> !
        <%= gravatar_for @user %>
      </h1>
      <% else %>
      <h1> User: 
        <%=  @user.name %> 
        <%= gravatar_for @user %>
      </h1>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.tasks.any? %>
      <% if current_user?(@user) %>
        <h3>Your Tasks (<%= @user.tasks.count %>)</h3>
      <% else %>
        <h3> <%= @user.name %>'s Tasks </h3>
      <% end %>
      <ol class="tasks">
        <%= render @tasks %>
      </ol>
      <%= will_paginate @tasks %>
    <% end %>
  </div>
</div>

